@charset "UTF-8";
@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.eot?50880767");
  src: url("../fonts/fontello.eot?50880767#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?50880767") format("woff2"), url("../fonts/fontello.woff?50880767") format("woff"), url("../fonts/fontello.ttf?50880767") format("truetype"), url("../fonts/fontello.svg?50880767#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?50880767#fontello') format('svg');
  }
}
*/
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-truck:before {
  content: "";
}

/* '' */
.icon-ok:before {
  content: "";
}

/* '' */
.icon-location:before {
  content: "";
}

/* '' */
.icon-facebook:before {
  content: "";
}

/* '' */
.icon-menu:before {
  content: "";
}

/* '' */
.icon-list-bullet:before {
  content: "";
}

/* '' */
.icon-instagram:before {
  content: "";
}

/* '' */
.icon-vkontakte:before {
  content: "";
}

/* '' */
.icon-ship:before {
  content: "";
}

/* '' */
.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  height: 65px;
  width: 100vw;
  padding: 3vw 10vw;
  color: #1EB4E8;
  z-index: 1;
  transition: 0.4s ease-out;
}
.main-header .logo {
  width: 25%;
}
.main-header a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: inherit;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
}
.main-header .nav-links {
  display: flex;
  list-style: none;
}
.main-header .nav-links .nav-link {
  transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main-header .nav-links .nav-link:nth-of-type(2) {
  transition-delay: 0.1s;
}
.main-header .nav-links .nav-link:nth-of-type(3) {
  transition-delay: 0.2s;
}
.main-header .nav-links .nav-link:nth-of-type(4) {
  transition-delay: 0.3s;
}
.main-header .nav-links .nav-link a {
  margin: 3px 10px 3px 3px;
  padding: 16px 8px;
}
.main-header .nav-links .nav-link a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: #000;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  transition: background 0.8s ease;
}
.main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #000;
  transition: background 0.8s ease;
}
.main-header .menu-icon__line::before {
  transform: translateY(-5px);
}
.main-header .menu-icon__line::after {
  transform: translateY(5px);
}
.main-header .menu-btn {
  display: none;
}
.main-header.scrolled {
  height: 50px;
  background: rgba(9, 33, 58, 0.9);
  color: white;
}
.main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
  background: white;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}
@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes closedMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
.fullscreen {
  min-height: 100vh;
  background: url("../img/index/header.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  color: #fff;
}

.products {
  display: flex;
}
.products_title {
  margin: 0;
  padding: 8vw 0 0 0;
  text-align: center;
  justify-content: center;
}
.products_item {
  margin: 20px 0 0 0;
}
.products_img {
  margin: 20px 0 0 0;
}
.products_content {
  margin: 20px 0 0 0;
  width: 100%;
}
.products_table {
  display: block;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
.products_table caption {
  font-weight: 700;
  font-size: 24px;
  background-color: #BFDEE8;
  color: #09213A;
  padding: 15px 0;
}
.products_table_first {
  font-size: 20px;
  color: #09213A;
}
.products_table_first td {
  padding: 5px 20px 5px 0px;
}
.products_table_second {
  background-color: #BFDEE8;
  font-size: 20px;
  color: #09213A;
}
.products_table_second td {
  padding: 5px 20px 5px 0;
}
.products_table span {
  font-weight: 700;
}

.contact {
  padding: 8vw 0 0 0;
  min-height: 100vh;
  background: url("../img/contacts/header.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  color: #fff;
  color-opacity: 0.6;
}
.contact .col-md-5, .contact .col-md-7 {
  padding: 0;
  margin: 0;
}
.contact h2 {
  text-align: center;
  padding: 40px 0 0 0;
}
.contact_info {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: rgba(30, 180, 232, 0.6);
  color: #09213A;
}
.contact_info-adress ul {
  margin: 20px 0 0 20px;
  padding: 0 0 0 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.contact_info-adress ul li {
  margin: 0 0 10px;
  padding: 10px;
  margin: 0;
  justify-self: center;
}
.contact_info-adress ul li i {
  margin: 0;
  float: left;
  padding: 0;
  font-size: 30px;
  height: 50px;
  width: 50px;
}
.contact_info-adress ul li i span {
  font-size: 20px;
  font-weight: 700;
}
.contact_info-scl {
  margin: 10px 0 0 0;
}
.contact_info-scl ul {
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
}
.contact_info-scl ul li {
  padding: 10px;
}
.contact_info-scl ul li i {
  display: inline-block;
  color: #fff;
  font-size: 30px;
}
.contact_info-scl ul li i a {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 50%;
  line-height: 42px;
  transition: all 0.5s;
}

.input_our {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contact-form {
  background: rgba(9, 33, 58, 0.8);
  padding: 40px 0 40px 10px;
}
.contact-form_item {
  position: relative;
  width: 100%;
}
.contact-form_item input {
  width: 50%;
  height: 30px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.contact-form_item textarea {
  width: 98%;
  min-height: 190px;
  resize: vertical;
  border: 0px solid transparent;
  border-bottom: 1px solid #1EB4E8;
}
.contact-form_input {
  font-style: 14px;
  line-height: 22px;
  background-color: rgba(30, 180, 232, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #EBECF0;
  color: #09213A;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.section_about {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  margin-top: 3%;
}
.section_about .section_title {
  text-align: center;
  font-size: 22px;
  color: #1EB4E8;
  margin: 10px;
}
.section_about .section_title::after {
  content: "";
  display: block;
  background-image: url(../img/index/spline.png);
  width: 120px;
  height: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.section_about .section_about-content {
  margin-top: 2%;
  text-align: center;
}
.section_about .section_about-content .section_about-text {
  width: 100%;
}
.section_about .section_about-content .section_about-text p {
  margin-bottom: 4%;
  font-size: 1.1em;
}
.section_about .section_about-content .section_about-text p span {
  font-size: 1.25em;
  font-weight: 700;
  color: #1EB4E8;
}
.section_about .section_about-content .section_about-text .btn {
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #09213A;
  background-color: rgba(9, 33, 58, 0.5);
}
.section_about .section_img {
  display: inline-block;
  overflow: hidden;
  box-shadow: 10px 10px 50px #999;
}
.section_about .section_img img {
  width: 100%;
  height: 100%;
  display: block;
  transition: 1s;
}
.section_about .section_img img:hover {
  transform: scale(1.2);
}

.specification {
  position: relative;
  margin-top: 3%;
}
.specification_img {
  width: 100%;
}
.specification_content {
  width: 100%;
}
.specification_content h3 {
  color: #1EB4E8;
  font-size: 1.5em;
}
.specification_content p {
  font-size: 1.1em;
}
.specification .spec-items {
  padding: 0 5px;
}
.specification .spec-pallet {
  padding: 0 5px;
}
.specification .spec-pallet .pallet-counter {
  margin-top: 10px;
}
.specification_counter {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.specification_counter_items {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  background: #ebf5fc;
  box-shadow: inset -6px -6px 20px #b1b1b180, inset 6px 6px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.specification_counter_items h3 {
  padding: 0 10px;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
}
.specification_counter_items span {
  font-size: 40px;
  display: block;
  line-height: 60px;
  color: #1EB4E8;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 30px 0 0 0;
}
.card_title {
  font-size: 22px;
}
.card_title h3 {
  font-weight: 700;
  color: #1EB4E8;
  text-align: center;
}
.card_title h3::after {
  content: "";
  display: block;
  background-image: url(../img/index/spline.png);
  width: 120px;
  height: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.card_items {
  height: 500px;
  margin: 10px;
  padding: 30px 30px 10px;
  background: #ebf5fc;
  box-shadow: -6px -6px 20px #e1e1e1, 6px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
.card_items:hover {
  box-shadow: inset -6px -6px 20px rgba(225, 225, 225, 0.5), inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}
.card_img {
  position: relative;
  text-align: center;
}
.card_img img {
  max-width: 120px;
}
.card_content {
  position: relative;
  margin-top: 20px;
  text-align: center;
}
.card_content i {
  color: #1EB4E8;
}
.card_content h2 {
  color: #09213A;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
}
.card_content p {
  color: #09213A;
}

.card .card_items:hover .card_img, .card .card_items:hover .card_content {
  transform: scale(0.98);
}

.terms .col-md-6 {
  padding: 0;
}

.terms {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin: 50px 0 0 0;
}
.terms_content {
  position: relative;
  height: 500px;
  padding: 50px;
  align-items: center;
  background-color: #1EB4E8;
}
.terms_content h3 {
  font-style: 20px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 15px 0;
}
.terms_text {
  display: block;
  position: relative;
  align-self: center;
  text-align: left;
}
.terms_text p {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  color: #09213A;
}
.terms_img {
  height: 500px;
  align-items: center;
  background-color: #09213A;
}
.terms_img img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.footer {
  margin-top: 60px;
  background-color: #09213A;
  padding: 59px 0;
  color: #666;
}
.footer_policy {
  font-size: 12px;
}
.footer p {
  margin-bottom: 14px;
}
.footer a {
  color: #666;
  text-decoration: none;
}
.footer a:hover {
  color: #fff;
}
.footer ul {
  padding: 0;
  list-style: none;
}
.footer ul li {
  line-height: 32px;
}
.footer_contacts-phone {
  font-weight: 400;
  font-size: 20px;
  color: #1EB4E8;
}
.footer_social-links li {
  display: inline-block;
}
.footer_social-links li a {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 50%;
  line-height: 42px;
  transition: all 0.2s;
}

.form {
  justify-content: center;
}
.form_item {
  width: 100%;
}
.form_item textarea {
  width: 100%;
  min-height: 150px;
  resize: vertical;
}
.form_input {
  color: green;
  font-weight: 400;
  line-height: 22px;
  background-color: #09213A;
  padding: 13px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: 0px solid transparent;
  border-bottom: 1px solid #1EB4E8;
}
.form_button {
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  background-color: #1EB4E8;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  padding: 7px 30px;
  display: flex;
  color: #fff;
  border-radius: 20px;
  border: 0px solid transparent;
  box-shadow: 0 5px 0 #1EB4B8;
  font-size: 18px;
  font-weight: 700;
  transition: background-color 0.5s ease 0;
  position: relative;
  top: 0;
}
.form_button:hover {
  background-color: #7bd3f1;
}
.form_button:active {
  top: 3px;
  box-shadow: 0 2px 0 #1EB4B8;
}

@media screen and (max-width: 1199px) {
  .specification_content p {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 992px) {
  .main-header .menu-icon {
    display: block;
  }
  .main-header .menu-icon__line {
    animation: closedMid 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::before {
    animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::after {
    animation: closedBtm 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: #fff;
    background: #09213A;
    transition: opacity 0.8s 0.5s, -webkit-clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s, -webkit-clip-path 1s 0.5s;
    -webkit-clip-path: circle(200px at top right);
            clip-path: circle(200px at top right);
  }
  .main-header .nav-links .nav-link {
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .main-header .nav-links .nav-link a {
    display: block;
    padding: 2rem 0;
  }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s ease-in-out 1s, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
    transition-delay: 0.7s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
    transition-delay: 0.8s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
    transition-delay: 0.9s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
    transition-delay: 1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    animation: pulse 1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line {
    background: #fff;
    animation: openMid 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
    background: #fff;
    animation: openTop 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
    background: #fff;
    animation: openBtm 0.8s forwards;
  }

  .section_about-text {
    font-size: 0.8em;
  }

  .specification_counter {
    margin-top: 3%;
  }

  .specification_counter .row {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .terms_text {
    font-size: 8px;
  }

  .products_table td {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 768px) {
  .section_about-text {
    font-size: 1.2vw;
  }

  .specification_content {
    font-size: 0.8em;
  }

  .products_title {
    padding-top: 12vw;
    font-size: 2vw;
  }

  .contact {
    padding-top: 10vw;
  }
}
@media screen and (max-width: 575px) {
  .main-header.scrolled {
    height: 40px;
  }

  .specification_content {
    font-size: 2.4vw;
  }

  .specification-col {
    padding: 5px;
  }

  .specification_counter_items h3 {
    font-size: 3vw;
  }

  .section_about-text {
    margin-bottom: 3%;
    font-size: 3vw;
  }

  .section_title h3 {
    font-size: 5.5vw;
  }

  .terms_text {
    font-size: 3vw;
  }

  .products_title {
    padding-top: 16vw;
  }

  .products_item {
    margin-top: 0;
  }

  .products_content {
    margin-top: 5px;
  }

  .products_table td {
    font-size: 3.5vw;
  }

  .production_item {
    display: flex;
    flex-direction: column;
  }

  .production_img {
    order: 1;
  }

  .production_content {
    order: 2;
  }

  .contact {
    padding-top: 16vw;
  }
}
@media screen and (max-width: 350px) {
  .card_content {
    font-size: 4.5vw;
  }

  .contact {
    padding-top: 20vw;
  }
}